index.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "UNSENT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        416
      ],
      "id": "fa83d22d-9cec-4e0c-ba40-35b16ac4cc26",
      "name": "Read All Rows1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8F5vETaUMOshoUhg",
          "name": "ace sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nreturn rows.map(row => {\n  const email = (row.json.Email || '').trim();\n  const emailRegex = /^[a-zA-Z0-9][a-zA-Z0-9._-]*[a-zA-Z0-9]@[a-zA-Z0-9][a-zA-Z0-9.-]*[a-zA-Z0-9]\\.[a-zA-Z]{2,}$/;\n  \n  const isValid = emailRegex.test(email) &&\n    !email.includes('..') &&\n    !email.includes('.-') &&\n    !email.includes('-.');\n\n  return {\n    json: {\n      email: email,\n      email_validity: isValid,\n      status: isValid ? 'valid' : 'invalid'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        320
      ],
      "id": "2353dfb9-6440-41f6-8128-b4715f3cdd14",
      "name": "Validate Email1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        240
      ],
      "id": "9fe539e5-159e-45f4-97cf-a455e1e51fcb",
      "name": "Send Email1",
      "webhookId": "4f22dc06-a111-4145-9a15-a75d9e81867a",
      "credentials": {
        "gmailOAuth2": {
          "id": "sjyHn5GwlfYevKol",
          "name": "n8n-smtp"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('If').item.json.email }}",
            "Status": "SENT",
            "is email valid?": "={{ $('If').item.json.email_validity && \"YES\" }}",
            "Email Copy": "={{ $('Code in JavaScript').item.json.body }}",
            "Email Subject": "={{ $('Code in JavaScript').item.json.subject }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is email valid?",
              "displayName": "is email valid?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city/state/country",
              "displayName": "city/state/country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "googleMaps",
              "displayName": "googleMaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "leadScore",
              "displayName": "leadScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scraped at",
              "displayName": "scraped at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviews count",
              "displayName": "reviews count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "neighbourhood",
              "displayName": "neighbourhood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URLs scraped",
              "displayName": "URLs scraped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Service options",
              "displayName": "Service options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment methods accepted",
              "displayName": "Payment methods accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Business ownership",
              "displayName": "Business ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Copy",
              "displayName": "Email Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        336
      ],
      "id": "7052117e-466d-468d-a7ca-c8cd6a5f270d",
      "name": "Update Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8F5vETaUMOshoUhg",
          "name": "ace sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        416
      ],
      "id": "d26736fb-4164-486f-a64f-bb2f2bd586a7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba1d3123-be29-4e31-9408-195ac6fd21cb",
              "leftValue": "={{ $json.email_validity }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        320
      ],
      "id": "0cd4e7dc-7cb2-42b8-b017-9ef8be1e9949",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        992
      ],
      "id": "40a1e08c-4506-40ed-8688-1a523ea6ed95",
      "name": "Daily Schedule (9 AM)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/run-sync-get-dataset-items?token=[your token]",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"Sydney, Australia\",\n    \"maxCrawledPlacesPerSearch\": 100,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": true,\n    \"scrapeDirectories\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeSocialMediaProfiles\": {\n        \"facebooks\": false,\n        \"instagrams\": false,\n        \"tiktoks\": false,\n        \"twitters\": false,\n        \"youtubes\": false\n    },\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $json.Name }}\"\n    ],\n    \"skipClosedPlaces\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        992
      ],
      "id": "f6429575-67cd-4dc4-9a08-3de2607c852d",
      "name": "Call Apify (Builders Sydney)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        992
      ],
      "id": "7891e40f-9c08-4f54-a33c-03a4eaeb1ad3",
      "name": "Read Existing Emails",
      "executeOnce": false,
      "retryOnFail": true,
      "alwaysOutputData": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8F5vETaUMOshoUhg",
          "name": "ace sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newData = $('Code in JavaScript1').all();\nconst existing = $(\"Read Existing Emails\").all();\n\nconst existingEmails = new Set(\n  existing.map(e => (e.json.Email || \"\").toLowerCase())\n);\n\n// 🔥 flatten leads array\nconst leads = newData.flatMap(item => item.json.leads || []);\n\nconst result = leads.flatMap(data => {\n  const emails = data.emails || [];\n\n  return emails\n    .filter(email => !existingEmails.has(email.toLowerCase()))\n    .map(email => ({\n      json: {\n        title: data.title,\n        email: email,\n        phone: data.phone || \"N/A\",\n        address: data.address,\n        city: data.city,\n        state: data.state,\n        postalCode: data.postalCode,\n        website: data.website || \"N/A\",\n        totalScore: data.totalScore,\n        reviewsCount: data.reviewsCount,\n        categoryName: data.categoryName,\n        neighborhood: data.neighborhood,\n        location: data.location,\n        phoneUnformatted: data.phoneUnformatted || \"N/A\",\n        placeId: data.placeId,\n        scrapedAt: data.scrapedAt,\n        urlsScraped: data.scrapedUrls || [],\n        serviceOptions: data.additionalInfo?.[\"Service options\"] || [],\n        paymentMethods: data.additionalInfo?.[\"Payments\"] || [],\n        businessOwnership: data.additionalInfo?.[\"Business ownership\"] || []\n      }\n    }));\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        992
      ],
      "id": "b8bfde6f-c356-4627-8441-470100f30936",
      "name": "Dedupe & Filter (33 max)",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.title }}",
            "Email": "={{ $json.email }}",
            "is email valid?": "YES",
            "address": "={{ $json.address }}",
            "city/state/country": "={{ $json.city }}, {{ $json.state }}, {{ $json.postalCode }}",
            "phone": "={{ $json.phone.replace(/\\D/g, \"\") }}",
            "rating": "={{ $json.totalScore }}",
            "googleMaps": "={{ $json.placeId }}",
            "scraped at": "={{ $now.format('yyyy-MM-dd') }}",
            "website": "={{ $json.website }}",
            "reviews count": "={{ $json.reviewsCount }}",
            "neighbourhood": "={{ $json.neighborhood }}",
            "Status": "UNSENT",
            "URLs scraped": "={{ $json.urlsScraped }}",
            "Service options": "={{ $json.serviceOptions }}",
            "Payment methods accepted": "={{ $json.paymentMethods }}",
            "Business ownership": "={{ $json.businessOwnership }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is email valid?",
              "displayName": "is email valid?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city/state/country",
              "displayName": "city/state/country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "googleMaps",
              "displayName": "googleMaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "leadScore",
              "displayName": "leadScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped at",
              "displayName": "scraped at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviews count",
              "displayName": "reviews count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "neighbourhood",
              "displayName": "neighbourhood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URLs scraped",
              "displayName": "URLs scraped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service options",
              "displayName": "Service options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment methods accepted",
              "displayName": "Payment methods accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business ownership",
              "displayName": "Business ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Copy",
              "displayName": "Email Copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "options": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        1056
      ],
      "id": "8311a4e7-1993-46b5-a5a9-f0e017a45b3e",
      "name": "Write New Emails",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8F5vETaUMOshoUhg",
          "name": "ace sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst match = items.find(item => !item.json.Date);\n\nreturn match ? [match] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        992
      ],
      "id": "01b538b6-ca3b-47c1-bb32-8a4dd698a43b",
      "name": "first row only"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit?gid=1947685520#gid=1947685520",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1947685520,
          "mode": "list",
          "cachedResultName": "query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit#gid=1947685520"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        992
      ],
      "id": "3f27339e-6ff7-435c-85ae-1fb459b9813a",
      "name": "get search terms",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bylWdC2CqAZGziLj",
          "name": "acetec 25"
        }
      }
    },
    {
      "parameters": {
        "content": "## check in the sheets daily for new query\n\n## call the api, get the emails and filter the duplicates\n\n## write down emails to the google sheets",
        "height": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        768
      ],
      "typeVersion": 1,
      "id": "29f70a76-e7a9-43a9-922c-52484ef53db2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## check in the sheets daily for new emails\n\n## validate the email , send it and update the status in sheets",
        "height": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        0
      ],
      "typeVersion": 1,
      "id": "336fa95e-e181-4199-8219-ff8e6c58571f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        416
      ],
      "id": "abcb0be3-d49c-49d4-a1c2-5b8a07f6daf7",
      "name": "Daily Schedule (10 AM)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($('Loop Over Items').item.json) }}",
        "options": {
          "systemMessage": "=You are an expert cold email copywriter.\nWrite a short, personalized cold email (max 120 words) to the business below.\nGoal: Start a conversation and get a reply (not sell aggressively).\n\nBusiness details:\n{{ JSON.stringify($('Loop Over Items').item.json) }}\n\nInstructions:\n- Use a friendly, natural tone (not salesy)\n- Personalize using business name, rating, and location from data\n- Lead with their Google rating as social proof\n- Mention tool hire OR skilled crews based on their services\n- Keep it concise and human-like\n- End with a soft CTA (question-based)\n\nTemplate:\nSubject: Helping {{ $('Loop Over Items').item.json.name }} with tool hire & project support\n\nHi [Name],\n\nNoticed {{ $('Loop Over Items').item.json.name }} and your {{ $('Loop Over Items').item.json.rating }} rating on Google, based in {{ $('Loop Over Items').item.json['city/state/country'] }}\n\nAce Solutions offers equipment for hire—concrete grinders, pressure washers, and more across Sydney. Pickup or delivery. If you need extra capacity beyond tools, we supply skilled crews for epoxy flooring or pressure washing.\n\nIf you need extra hands fast, we can step in.\n\nWorth a quick chat?\n\nAce\nACE Solutions\n\nReturn STRICT JSON:\n{\n  \"subject\": \"...\",\n  \"email\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        336
      ],
      "id": "75ca3156-dca1-4ec1-8ddc-381e55cad1db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        544
      ],
      "id": "74c4734a-6cf0-4539-9a8e-fdb3def11920",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hs4ThNNjB37a0How",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || \"\";\n\n// remove invalid control characters\nraw = raw.replace(/[\\u0000-\\u001F]+/g, \" \");\n\nconst data = JSON.parse(raw);\n\nconst clean = (text) =>\n  (text || \"\").replace(/\\s*—\\s*/g, \" \");\n\nreturn [\n  {\n    json: {\n      subject: clean(data.subject),\n      body: clean(data.email)\n    }\n  }\n];\n\n// const data = JSON.parse($json.output || \"{}\");\n\n// const clean = (text) =>\n//   (text || \"\").replace(/\\s*—\\s*/g, \" \"); \n\n// return [\n//   {\n//     json: {\n//       subject: clean(data.subject),\n//       body: clean(data.email)\n//     }\n//   }\n// ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        304
      ],
      "id": "6a7385fa-2634-4527-a03a-97601026ab2b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "maxItems": 33,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        48,
        416
      ],
      "id": "9b7fd639-f208-43cf-9911-29b1feacab7e",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst combined = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      leads: combined\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        992
      ],
      "id": "a57f738d-2700-47bc-8105-3f015bbadf43",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1392,
        944
      ],
      "id": "c5342a76-4dba-4fe8-b55d-4d4784cab6b7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        992
      ],
      "id": "965e47f4-6627-4c70-9edd-6904193d6fe2",
      "name": "Wait",
      "webhookId": "63427154-8f65-4f29-99d5-be7f9721b171"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit?gid=1947685520#gid=1947685520",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1947685520,
          "mode": "list",
          "cachedResultName": "query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b1RIkffBnUNrd2ITQC9oj1ccy6X0uU3NI4vPZDjKvw/edit#gid=1947685520"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('first row only').first().json.Name }}",
            "Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        800
      ],
      "id": "3138643e-c8e0-4dcd-bb7b-049c06b7b8b5",
      "name": "get search terms1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8F5vETaUMOshoUhg",
          "name": "ace sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b57860de-1422-4965-bfa4-a5c92a0d0c62",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "Monthly usage hard",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        992
      ],
      "id": "e52edd66-c9e3-4df8-b860-05c7e8194617",
      "name": "If1",
      "disabled": true
    }
  ],
  "connections": {
    "Read All Rows1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "main": [
        [
          {
            "node": "Update Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Validate Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule (9 AM)": {
      "main": [
        [
          {
            "node": "get search terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Apify (Builders Sydney)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Emails": {
      "main": [
        [
          {
            "node": "Dedupe & Filter (33 max)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe & Filter (33 max)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write New Emails": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "first row only": {
      "main": [
        [
          {
            "node": "Call Apify (Builders Sydney)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get search terms": {
      "main": [
        [
          {
            "node": "first row only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule (10 AM)": {
      "main": [
        [
          {
            "node": "Read All Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read Existing Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "get search terms1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Write New Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Daily Schedule (9 AM)": [
      {
        "timestamp": "2026-04-27T09:00:11.005+02:00",
        "Readable date": "April 27th 2026, 9:00:11 am",
        "Readable time": "9:00:11 am",
        "Day of week": "Monday",
        "Year": "2026",
        "Month": "April",
        "Day of month": "27",
        "Hour": "09",
        "Minute": "00",
        "Second": "11",
        "Timezone": "Europe/Berlin (UTC+02:00)"
      }
    ],
    "Daily Schedule (10 AM)": [
      {
        "timestamp": "2026-05-05T10:00:17.006+02:00",
        "Readable date": "May 5th 2026, 10:00:17 am",
        "Readable time": "10:00:17 am",
        "Day of week": "Tuesday",
        "Year": "2026",
        "Month": "May",
        "Day of month": "05",
        "Hour": "10",
        "Minute": "00",
        "Second": "17",
        "Timezone": "Europe/Berlin (UTC+02:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5cd639d9be664b67141cbd766efda776c5ebe08b3360a8a25a1779b70cda89fc"
  }
}
